<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaultly: File Uploader</title>
</head>
<body>
    <% if (locals.user) { %>
        <main>
            <p>You're here and logged in!</p>
        </main>
    <% } else { %>
        <main>
            <p>No user logged in.</p>
            <a href="/login">Click Here to log in</a>
        </main>
    <% } %>
</body>
</html>